{% extends "layout.html" %} {% load static %} {% block main_content_section %}
<div class="site-section mt-5">
    <div class="container">

        <div class="row mb-5">
            <div class="col-12 section-title text-center mb-5">
                <h2 class="d-block">Inventory</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi, perspiciatis!</p>
            </div>
        </div>
        <div class="row">
            <div class="d-none d-lg-block col-lg-2">&nbsp;</div>
            <div class="col-lg-8 section-title text-center mb-5">
                <input type="text" class="form-control w-50 d-inline-block" id="search_terms" aria-describedby="searchTerms" placeholder="Search">
                <button type="button" class="btn btn-primary">Search</button>
                <a class="btn btn-primary mt-3 mt-md-0" href="{% url 'product_creator' %}">Create New Product<a>
            </div>
            <div class="d-none d-lg-block col-lg-2">&nbsp;</div>
        </div>
        <div class="row">
            {% for product in all_products %}
            <div class="col-md-6 col-lg-4 mb-3">
                <div class="card">
                    <img src="{{ product.product_picture.cdn_url }}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <div class="row card-product-name">
                            <div class="col">
                                <h4 class="card-title text-center">{{product.name|title}}</h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <h5 class="text-center">Price</h5>
                            </div>
                            <div class="col">
                                <h5 class="text-center"><span class="badge badge-primary">{{product.price}}</span></h5>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <h5 class="text-center">Quantity</h5>
                            </div>
                            <div class="col">
                                <h5 class="text-center"><span class="badge badge-primary">{{product.quantity_in_stock}}</span></h5>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <h5 class="text-center">Region</h5>
                            </div>
                            <div class="col">
                                <h5 class="text-center"><span class="badge badge-primary">{{product.region}}</span></h5>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <h5 class="text-center">Nodes</h5>
                            </div>
                            <div class="col">
                                <h5 class="text-center"><span class="badge badge-primary">{{product.nodes}}</span></h5>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <h5 class="text-center">Body</h5>
                            </div>
                            <div class="col">
                                <h5 class="text-center"><span class="badge badge-primary">{{product.body}}</span></h5>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="row">
                            <div class="col text-left">
                                <a class="btn btn-primary w-75" href="{% url 'product_update' product.id %}">Edit<a>
                            </div>
                            <div class="col text-right">
                                <a class="btn btn-primary w-75" href="{% url 'delete_product' product.id %}">Delete<a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
