{% extends "layout.html" %} {% load static %} {% block messages_section %} {% if messages %}
<div class="site-section message-wrapper">
  <div class="container">
    <div class="row mx-5">
      <div class="col">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close" id="message-wrapper-close-btn">
                    <span aria-hidden="true">&times;</span>
                </button>
        <h4 class="text-primary">Messages</h4>
      </div>
    </div>
    <div class="row mx-5">
      {% for message in messages %}
      <div class="col">
        <div class="alert {{ message.tags }} alert-dismissible" role="alert">
          {{ message }}
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endif %} {% endblock %}{% block products_section %}
<div class="site-section mt-5">
  <div class="container">

    <div class="row">
      <div class="col-12 section-title text-center mb-5">
        <h2 class="d-block">Store</h2>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-2">&nbsp;</div>
      <div class="col-lg-8 section-title text-center mb-5">
        <input type="text" class="form-control w-50 d-inline-block" id="search_terms" aria-describedby="searchTerms" placeholder="Search">
        <button type="button" class="btn btn-primary product-search-button">Search</button>
        <button type="button" class="btn btn-primary reset-button">Reset</button>
        <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#filterTable" aria-expanded="false" aria-controls="filterTable">Filter</button>
      </div>
      <div class="col-lg-2">&nbsp;</div>
    </div>

    <div class="row mb-5 collapse" id="filterTable">
      <div class="col">
        <div class="row">
          <div class="col-lg-2">&nbsp;</div>
          <div class="col-lg-8 section-title text-center mb-5">
            <div class="form-row">
              <div class="form-group col">
                <label for="bodySelectionType">Wine Body</label>
                <select class="form-control" id="bodySelectionType">
                  <option>Any</option>
                <option>Full-Bodied</option>
                <option>Medium-Bodied</option>
                <option>Light-Bodied</option>
              </select>
              </div>
              <div class="form-group col">
                <label for="regionSelectionType">Wine Region</label>
                <select class="form-control" id="regionSelectionType">
                  <option>Any</option>
                  <option>France</option>
                  <option>Italy</option>
                  <option>Usa</option>
                  <option>Spain</option>
                  <option>Portugal</option>
                  <option>Argentina</option>
                  <option>Australia</option>
                  <option>New Zealand</option>
                  <option>United Kingdom</option>
                </select>
              </div>
              <div class="form-group col">
                <label for="nodesSelectionType">Wine Nodes</label>
                <select class="form-control" id="nodesSelectionType">
                  <option>Any</option>
                  <option>Fruits</option>
                  <option>Herbs</option>
                  <option>Flowers</option>
                  <option>Earth</option>
                  <option>Grass</option>
                  <option>Tobacco</option>
                  <option>Butterscotch</option>
                  <option>Toast</option>
                  <option>Vanilla</option>
                  <option>Mocha</option>
                  <option>Chocolate</option>
                </select>
              </div>
            </div>
          </div>
          <div class="col-lg-2">&nbsp;</div>
        </div>

        <div class="row">

        </div>

      </div>

    </div>

    <div class="row">
      {% for product in all_products %}
      <div class="col-lg-4 mb-5 col-md-6 product-wrapper">

        <div class="wine_v_1 text-center pb-4">
          <a href="{% url 'individual_product' product.id %}" class="thumbnail d-block mb-4"><img src="{{ product.product_picture.cdn_url }}" alt="Image" class="img-fluid"></a>
          <div>
            <h3 class="heading mb-1 product-name"><a href="{% url 'individual_product' product.id %}">{{product.name|title}}</a></h3>
            <h4 class="heading mb-1"><a href="{% url 'individual_product' product.id %}">{{product.year}}</a></h4>
            <span class="product-region product-subcat d-none">{{product.region}}</span>
            <span class="product-nodes product-subcat d-none">{{product.nodes}}</span>
            <span class="product-body product-subcat d-none">{{product.body}}</span>
            <span class="price">${{product.price}}</span>
          </div>


          <div class="wine-actions">

            <h3 class="heading-2"><a href="{% url 'individual_product' product.id %}">{{product.name|title}}</a></h3>
            <h4 class="heading-2"><a href="{% url 'individual_product' product.id %}">{{product.year}}</a></h4>
            <span class="price d-block">${{product.price}}</span>

            <div class="rating">
              <span class="icon-star"></span>
              <span class="icon-star"></span>
              <span class="icon-star"></span>
              <span class="icon-star"></span>
              <span class="icon-star-o"></span>
            </div>

            <a href="{% url 'add_to_cart' product.id 1 %}" class="btn add"><span class="icon-shopping-bag mr-3"></span> Add to Cart</a>
          </div>
        </div>

      </div>
      {% endfor %}
    </div>
  </div>
</div>

<div class="hero-2" style="background-image: url({% static 'images/hero_2.jpg' %});">
  <div class="container">
    <div class="row justify-content-center text-center align-items-center">
      <div class="col-md-8">
        <span class="sub-title">Welcome</span>
        <h2>Wines For Everyone</h2>
      </div>
    </div>
  </div>
</div>
{% endblock %} {% block js_scripts_section %}
<script type="text/javascript">
  function toTitleCase(str) {
    return str.replace(
      /\w\S*/g,
      function(txt) {
        return txt.charAt(0).toUpperCase() + txt.substr(1).toLowerCase();
      }
    );
  }

  function filter_helper_function() {
    let body_value = $("#bodySelectionType").val();
    let region_value = $("#regionSelectionType").val();
    let nodes_value = $("#nodesSelectionType").val();
    let input_array = [
      body_value,
      region_value,
      nodes_value
    ];
    for (i = 0; i < input_array.length; i++) {
      if (input_array[i] != "Any") {
        let filter_choice = input_array[i]
        console.log(filter_choice)
        $(`.product-subcat:contains(${filter_choice})`).each(function() {
          $(this).closest(".product-wrapper").show(400);
        });
      }
    }
  }

  function name_search_helper_function() {
    let search_terms = toTitleCase($("#search_terms").val());
    if (search_terms != "") {
      $(`.product-name:contains(${search_terms})`).each(function() {
        $(this).closest(".product-wrapper").show(400);
      });
    }
  }

  $(function() {
    $(".product-search-button").click(function() {
      $(".product-wrapper").hide();
      name_search_helper_function()
      filter_helper_function();
    });

    $(".reset-button").click(function() {
      $(".product-wrapper").show(400);
      $("#search_terms").val('')
    });

    $("#bodySelectionType,#regionSelectionType,#nodesSelectionType").change(function() {
      $(".product-wrapper").hide();
      filter_helper_function();
      name_search_helper_function();
    });

  });
</script>
{% endblock %}
