{% extends "layout.html" %} {% load static %} {% block products_section %}
<div class="site-section mt-5">
  <div class="container">

    <div class="row mb-5">
      <div class="col-12 section-title text-center mb-5">
        <h2 class="d-block">Our Collection</h2>
        <p>The best wines from the various wine producing regions</p>
        <span class="text-muted">Hover over each bottle to view their details</span>
      </div>
    </div>

  </div>
</div>

<div class="hero-2 pb-5" style="background-image: url({% static 'images/wine_collection_france.jpg' %});">
  <div class="container pb-5">
    <div class="row justify-content-center text-center align-items-center">
      <div class="col-md-8">
        <h2 class="d-block">France</h2>
      </div>
    </div>
    <div class="row">

      <div class="col-lg-4 mb-5 col-md-6">

        <div class="wine_v_1 text-center py-4">
          <a href="shop-single.html" class="thumbnail d-block mb-4"><img src="{% static 'images/wines/wines_france_light.png' %}" alt="Image" class="img-fluid"></a>
          <div>
            <h2 class="heading mb-1"><a href="#">Louis Latour<br/>Bourgogne Pinot Noir</a></h2>
            <h3 class="heading mb-1"><a href="#">2011</a></h3>
            <span class="price">$63.00</span>
          </div>
          <div class="wine-actions">

            <h3 class="heading-2"><a href="#">Louis Latour Bourgogne Pinot Noir 2011</a></h3>
            <span class="price d-block">$63.00</span>

            <div class="rating">
              <span class="icon-star"></span>
              <span class="icon-star"></span>
              <span class="icon-star"></span>
              <span class="icon-star"></span>
              <span class="icon-star-o"></span>
            </div>

            <a href="cart.html" class="btn add"><span class="icon-shopping-bag mr-3"></span> Add to Cart</a>
          </div>
        </div>

      </div>

      <div class="col-lg-4 mb-5 col-md-6">
        <div class="wine_v_1 text-center py-4">
          <a href="shop-single.html" class="thumbnail d-block mb-4"><img src="{% static 'images/wines/wines_france_medium.png' %}" alt="Image" class="img-fluid"></a>
          <div>
            <h2 class="heading mb-1"><a href="#">Nicolas Thienpont<br/>Chateau La Prade</a></h2>
            <h3 class="heading mb-1"><a href="#">2014</a></h3>
            <span class="price">$190.00</span>
          </div>
          <div class="wine-actions">

            <h3 class="heading-2"><a href="#">Nicolas Thienpont Chateau La Prade 2014</a></h3>
            <span class="price d-block">$190.00</span>

            <div class="rating">
              <span class="icon-star"></span>
              <span class="icon-star"></span>
              <span class="icon-star"></span>
              <span class="icon-star"></span>
              <span class="icon-star-o"></span>
            </div>

            <a href="cart.html" class="btn add"><span class="icon-shopping-bag mr-3"></span> Add to Cart</a>
          </div>
        </div>
      </div>

      <div class="col-lg-4 mb-5 col-md-6">
        <div class="wine_v_1 text-center py-4">
          <a href="shop-single.html" class="thumbnail d-block mb-4"><img src="{% static 'images/wines/wines_france_full.png' %}" alt="Image" class="img-fluid"></a>
          <div>
            <h2 class="heading mb-1"><a href="#">Domaine du Vieux Telegraphe Chateauneuf-du-Pape</a></h2>
            <h3 class="heading mb-1"><a href="#">2011</a></h3>
            <span class="price">$193.00</span>
          </div>
          <div class="wine-actions">

            <h3 class="heading-2"><a href="#">Domaine du Vieux Telegraphe Chateauneuf-du-Pape 2011</a></h3>
            <span class="price d-block">$193.00</span>

            <div class="rating">
              <span class="icon-star"></span>
              <span class="icon-star"></span>
              <span class="icon-star"></span>
              <span class="icon-star"></span>
              <span class="icon-star-o"></span>
            </div>

            <a href="cart.html" class="btn add"><span class="icon-shopping-bag mr-3"></span> Add to Cart</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="hero-2 pb-5" style="background-image: url({% static 'images/wine_collection_italy.jpg' %});">
  <div class="container pb-5">
    <div class="row justify-content-center text-center align-items-center">
      <div class="col-md-8">
        <h2 class="d-block">Italy</h2>
      </div>
    </div>
    <div class="row">

      <div class="col-lg-4 mb-5 col-md-6">

        <div class="wine_v_1 text-center py-4">
          <a href="shop-single.html" class="thumbnail d-block mb-4"><img src="{% static 'images/wines/wines_italy_light.png' %}" alt="Image" class="img-fluid"></a>
          <div>
            <h2 class="heading mb-1"><a href="#">Dal Forno Romano Amarone della Valpolicella</a></h2>
            <h3 class="heading mb-1"><a href="#">2010</a></h3>
            <span class="price">$199.00</span>
          </div>
          <div class="wine-actions">

            <h3 class="heading-2"><a href="#">Dal Forno Romano Amarone della Valpolicella Monte Lodoletta 2010</a></h3>
            <span class="price d-block">$199.00</span>

            <div class="rating">
              <span class="icon-star"></span>
              <span class="icon-star"></span>
              <span class="icon-star"></span>
              <span class="icon-star"></span>
              <span class="icon-star-o"></span>
            </div>

            <a href="cart.html" class="btn add"><span class="icon-shopping-bag mr-3"></span> Add to Cart</a>
          </div>
        </div>

      </div>

      <div class="col-lg-4 mb-5 col-md-6">
        <div class="wine_v_1 text-center py-4">
          <a href="shop-single.html" class="thumbnail d-block mb-4"><img src="{% static 'images/wines/wines_italy_medium.png' %}" alt="Image" class="img-fluid"></a>
          <div>
            <h2 class="heading mb-1"><a href="#">Alfredos Gallery Chianti Rufina Riserva</a></h2>
            <h3 class="heading mb-1"><a href="#">2016</a></h3>
            <span class="price">$100.00</span>
          </div>
          <div class="wine-actions">

            <h3 class="heading-2"><a href="#">Alfredos Gallery Chianti Rufina Riserva 2016</a></h3>
            <span class="price d-block">$100.00</span>

            <div class="rating">
              <span class="icon-star"></span>
              <span class="icon-star"></span>
              <span class="icon-star"></span>
              <span class="icon-star"></span>
              <span class="icon-star-o"></span>
            </div>

            <a href="cart.html" class="btn add"><span class="icon-shopping-bag mr-3"></span> Add to Cart</a>
          </div>
        </div>
      </div>

      <div class="col-lg-4 mb-5 col-md-6">
        <div class="wine_v_1 text-center py-4">
          <a href="shop-single.html" class="thumbnail d-block mb-4"><img src="{% static 'images/wines/wines_italy_full.png' %}" alt="Image" class="img-fluid"></a>
          <div>
            <h2 class="heading mb-1"><a href="#">Ciacci Piccolomini D’Aragona Brunello Di Montalcino</a></h2>
            <h3 class="heading mb-1"><a href="#">2012</a></h3>
            <span class="price">$34.00</span>
          </div>
          <div class="wine-actions">

            <h3 class="heading-2"><a href="#">Ciacci Piccolomini D’Aragona Brunello Di Montalcino Pianrosso 2012</a></h3>
            <span class="price d-block">$34.00</span>

            <div class="rating">
              <span class="icon-star"></span>
              <span class="icon-star"></span>
              <span class="icon-star"></span>
              <span class="icon-star"></span>
              <span class="icon-star-o"></span>
            </div>

            <a href="cart.html" class="btn add"><span class="icon-shopping-bag mr-3"></span> Add to Cart</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="hero-2 pb-5" style="background-image: url({% static 'images/wine_collection_usa.jpg' %});">
  <div class="container pb-5">
    <div class="row justify-content-center text-center align-items-center">
      <div class="col-md-8">
        <h2 class="d-block">USA</h2>
      </div>
    </div>
    <div class="row">

      <div class="col-lg-4 mb-5 col-md-6">

        <div class="wine_v_1 text-center py-4">
          <a href="shop-single.html" class="thumbnail d-block mb-4"><img src="{% static 'images/wines/wines_america_light.png' %}" alt="Image" class="img-fluid"></a>
          <div>
            <h2 class="heading mb-1"><a href="#">Lingua Franca Pinot Noir</a></h2>
            <h3 class="heading mb-1"><a href="#">2015</a></h3>
            <span class="price">$67.00</span>
          </div>
          <div class="wine-actions">

            <h3 class="heading-2"><a href="#">Lingua Franca Mimi’s Mind Pinot Noir Eola-Amity Hills 2015</a></h3>
            <span class="price d-block">$67.00</span>

            <div class="rating">
              <span class="icon-star"></span>
              <span class="icon-star"></span>
              <span class="icon-star"></span>
              <span class="icon-star"></span>
              <span class="icon-star-o"></span>
            </div>

            <a href="cart.html" class="btn add"><span class="icon-shopping-bag mr-3"></span> Add to Cart</a>
          </div>
        </div>

      </div>

      <div class="col-lg-4 mb-5 col-md-6">
        <div class="wine_v_1 text-center py-4">
          <a href="shop-single.html" class="thumbnail d-block mb-4"><img src="{% static 'images/wines/wines_america_medium.png' %}" alt="Image" class="img-fluid"></a>
          <div>
            <h2 class="heading mb-1"><a href="#">Gamble Vineyards Mary Ann</a></h2>
            <h3 class="heading mb-1"><a href="#">2014</a></h3>
            <span class="price">$177.00</span>
          </div>
          <div class="wine-actions">

            <h3 class="heading-2"><a href="#">Gamble Family Vineyards Mary Ann Red 2014</a></h3>
            <span class="price d-block">$177.00</span>

            <div class="rating">
              <span class="icon-star"></span>
              <span class="icon-star"></span>
              <span class="icon-star"></span>
              <span class="icon-star"></span>
              <span class="icon-star-o"></span>
            </div>

            <a href="cart.html" class="btn add"><span class="icon-shopping-bag mr-3"></span> Add to Cart</a>
          </div>
        </div>
      </div>

      <div class="col-lg-4 mb-5 col-md-6">
        <div class="wine_v_1 text-center py-4">
          <a href="shop-single.html" class="thumbnail d-block mb-4"><img src="{% static 'images/wines/wines_america_full.png' %}" alt="Image" class="img-fluid"></a>
          <div>
            <h2 class="heading mb-1"><a href="#">Napa Valley Promontory</a></h2>
            <h3 class="heading mb-1"><a href="#">2012</a></h3>
            <span class="price">$25.00</span>
          </div>
          <div class="wine-actions">

            <h3 class="heading-2"><a href="#">Napa Valley Promontory 2012</a></h3>
            <span class="price d-block">$25.00</span>

            <div class="rating">
              <span class="icon-star"></span>
              <span class="icon-star"></span>
              <span class="icon-star"></span>
              <span class="icon-star"></span>
              <span class="icon-star-o"></span>
            </div>

            <a href="cart.html" class="btn add"><span class="icon-shopping-bag mr-3"></span> Add to Cart</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="hero-2 pb-5" style="background-image: url({% static 'images/wine_collection_spain.jpg' %});">
  <div class="container pb-5">
    <div class="row justify-content-center text-center align-items-center">
      <div class="col-md-8">
        <h2 class="d-block">Spain</h2>
      </div>
    </div>
    <div class="row">

      <div class="col-lg-4 mb-5 col-md-6">

        <div class="wine_v_1 text-center py-4">
          <a href="shop-single.html" class="thumbnail d-block mb-4"><img src="{% static 'images/wines/wines_spain_light.png' %}" alt="Image" class="img-fluid"></a>
          <div>
            <h2 class="heading mb-1"><a href="#">Valdubon Roble</a></h2>
            <h3 class="heading mb-1"><a href="#">2012</a></h3>
            <span class="price">$208.00</span>
          </div>
          <div class="wine-actions">

            <h3 class="heading-2"><a href="#">Valdubon Roble Ribera Del Duero 2012</a></h3>
            <span class="price d-block">$208.00</span>

            <div class="rating">
              <span class="icon-star"></span>
              <span class="icon-star"></span>
              <span class="icon-star"></span>
              <span class="icon-star"></span>
              <span class="icon-star-o"></span>
            </div>

            <a href="cart.html" class="btn add"><span class="icon-shopping-bag mr-3"></span> Add to Cart</a>
          </div>
        </div>

      </div>

      <div class="col-lg-4 mb-5 col-md-6">
        <div class="wine_v_1 text-center py-4">
          <a href="shop-single.html" class="thumbnail d-block mb-4"><img src="{% static 'images/wines/wines_spain_medium.png' %}" alt="Image" class="img-fluid"></a>
          <div>
            <h2 class="heading mb-1"><a href="#">Contino Rioja Reserva</a></h2>
            <h3 class="heading mb-1"><a href="#">2015</a></h3>
            <span class="price">$192.00</span>
          </div>
          <div class="wine-actions">

            <h3 class="heading-2"><a href="#">Contino Rioja Reserva 2015</a></h3>
            <span class="price d-block">$192.00</span>

            <div class="rating">
              <span class="icon-star"></span>
              <span class="icon-star"></span>
              <span class="icon-star"></span>
              <span class="icon-star"></span>
              <span class="icon-star-o"></span>
            </div>

            <a href="cart.html" class="btn add"><span class="icon-shopping-bag mr-3"></span> Add to Cart</a>
          </div>
        </div>
      </div>

      <div class="col-lg-4 mb-5 col-md-6">
        <div class="wine_v_1 text-center py-4">
          <a href="shop-single.html" class="thumbnail d-block mb-4"><img src="{% static 'images/wines/wines_spain_full.png' %}" alt="Image" class="img-fluid"></a>
          <div>
            <h2 class="heading mb-1"><a href="#">Clos Mogador Vi de Finca</a></h2>
            <h3 class="heading mb-1"><a href="#">2010</a></h3>
            <span class="price">$109.00</span>
          </div>
          <div class="wine-actions">

            <h3 class="heading-2"><a href="#">Clos Mogador Vi de Finca 2010</a></h3>
            <span class="price d-block">$109.00</span>

            <div class="rating">
              <span class="icon-star"></span>
              <span class="icon-star"></span>
              <span class="icon-star"></span>
              <span class="icon-star"></span>
              <span class="icon-star-o"></span>
            </div>

            <a href="cart.html" class="btn add"><span class="icon-shopping-bag mr-3"></span> Add to Cart</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="hero-2 pb-5" style="background-image: url({% static 'images/wine_collection_portugal.jpg' %});">
  <div class="container pb-5">
    <div class="row justify-content-center text-center align-items-center">
      <div class="col-md-8">
        <h2 class="d-block">Portugal</h2>
      </div>
    </div>
    <div class="row">

      <div class="col-lg-4 mb-5 col-md-6">

        <div class="wine_v_1 text-center py-4">
          <a href="shop-single.html" class="thumbnail d-block mb-4"><img src="{% static 'images/wines/wines_portugal_light.png' %}" alt="Image" class="img-fluid"></a>
          <div>
            <h2 class="heading mb-1"><a href="#">Altano Douro Quinta Do Ataide</a></h2>
            <h3 class="heading mb-1"><a href="#">2011</a></h3>
            <span class="price">$215.00</span>
          </div>
          <div class="wine-actions">
            <h3 class="heading-2"><a href="#">Altano Douro Quinta Do Ataide Reserva 2011</a></h3>
            <span class="price d-block">$215.00</span>

            <div class="rating">
              <span class="icon-star"></span>
              <span class="icon-star"></span>
              <span class="icon-star"></span>
              <span class="icon-star"></span>
              <span class="icon-star-o"></span>
            </div>

            <a href="cart.html" class="btn add"><span class="icon-shopping-bag mr-3"></span> Add to Cart</a>
          </div>
        </div>

      </div>

      <div class="col-lg-4 mb-5 col-md-6">
        <div class="wine_v_1 text-center py-4">
          <a href="shop-single.html" class="thumbnail d-block mb-4"><img src="{% static 'images/wines/wines_portugal_medium.png' %}" alt="Image" class="img-fluid"></a>
          <div>
            <h2 class="heading mb-1"><a href="#">Valle Pradinhos Porta Velha</a></h2>
            <h3 class="heading mb-1"><a href="#">2015</a></h3>
            <span class="price">$25.00</span>
          </div>
          <div class="wine-actions">

            <h3 class="heading-2"><a href="#">Valle Pradinhos Porta Velha 2015</a></h3>
            <span class="price d-block">$25.00</span>

            <div class="rating">
              <span class="icon-star"></span>
              <span class="icon-star"></span>
              <span class="icon-star"></span>
              <span class="icon-star"></span>
              <span class="icon-star-o"></span>
            </div>

            <a href="cart.html" class="btn add"><span class="icon-shopping-bag mr-3"></span> Add to Cart</a>
          </div>
        </div>
      </div>

      <div class="col-lg-4 mb-5 col-md-6">
        <div class="wine_v_1 text-center py-4">
          <a href="shop-single.html" class="thumbnail d-block mb-4"><img src="{% static 'images/wines/wines_portugal_full.png' %}" alt="Image" class="img-fluid"></a>
          <div>
            <h2 class="heading mb-1"><a href="#">Monte Do Desespero Reserva</a></h2>
            <h3 class="heading mb-1"><a href="#">2014</a></h3>
            <span class="price">$90.00</span>
          </div>
          <div class="wine-actions">

            <h3 class="heading-2"><a href="#">Monte Do Desespero Reserva Black Label 2014</a></h3>
            <span class="price d-block">$90.00</span>

            <div class="rating">
              <span class="icon-star"></span>
              <span class="icon-star"></span>
              <span class="icon-star"></span>
              <span class="icon-star"></span>
              <span class="icon-star-o"></span>
            </div>

            <a href="cart.html" class="btn add"><span class="icon-shopping-bag mr-3"></span> Add to Cart</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="hero-2 pb-5" style="background-image: url({% static 'images/wine_collection_argentina.jpg' %});">
  <div class="container pb-5">
    <div class="row justify-content-center text-center align-items-center">
      <div class="col-md-8">
        <h2 class="d-block">Argentina</h2>
      </div>
    </div>
    <div class="row">

      <div class="col-lg-4 mb-5 col-md-6">

        <div class="wine_v_1 text-center py-4">
          <a href="shop-single.html" class="thumbnail d-block mb-4"><img src="{% static 'images/wines/wines_argentina_light.png' %}" alt="Image" class="img-fluid"></a>
          <div>
            <h2 class="heading mb-1"><a href="#">Doña Paula 969 Red</a></h2>
            <h3 class="heading mb-1"><a href="#">2015</a></h3>
            <span class="price">$161.00</span>
          </div>
          <div class="wine-actions">

            <h3 class="heading-2"><a href="#">Doña Paula 969 Red 2015</a></h3>
            <span class="price d-block">$161.00</span>

            <div class="rating">
              <span class="icon-star"></span>
              <span class="icon-star"></span>
              <span class="icon-star"></span>
              <span class="icon-star"></span>
              <span class="icon-star-o"></span>
            </div>

            <a href="cart.html" class="btn add"><span class="icon-shopping-bag mr-3"></span> Add to Cart</a>
          </div>
        </div>

      </div>

      <div class="col-lg-4 mb-5 col-md-6">
        <div class="wine_v_1 text-center py-4">
          <a href="shop-single.html" class="thumbnail d-block mb-4"><img src="{% static 'images/wines/wines_argentina_medium.png' %}" alt="Image" class="img-fluid"></a>
          <div>
            <h2 class="heading mb-1"><a href="#">Trapiche Gran Medalla</a></h2>
            <h3 class="heading mb-1"><a href="#">2014</a></h3>
            <span class="price">$81.00</span>
          </div>
          <div class="wine-actions">

            <h3 class="heading-2"><a href="#">Trapiche Gran Medalla Cabernet Franc 2014</a></h3>
            <span class="price d-block"><del>$275.00</del> $81.00</span>

            <div class="rating">
              <span class="icon-star"></span>
              <span class="icon-star"></span>
              <span class="icon-star"></span>
              <span class="icon-star"></span>
              <span class="icon-star-o"></span>
            </div>

            <a href="cart.html" class="btn add"><span class="icon-shopping-bag mr-3"></span> Add to Cart</a>
          </div>
        </div>
      </div>

      <div class="col-lg-4 mb-5 col-md-6">
        <div class="wine_v_1 text-center py-4">
          <a href="shop-single.html" class="thumbnail d-block mb-4"><img src="{% static 'images/wines/wines_argentina_full.png' %}" alt="Image" class="img-fluid"></a>
          <div>
            <h2 class="heading mb-1"><a href="#">Santa Julia Reserva Malbec</a></h2>
            <h3 class="heading mb-1"><a href="#">2016</a></h3>
            <span class="price">$216.00</span>
          </div>
          <div class="wine-actions">

            <h3 class="heading-2"><a href="#">Santa Julia Reserva Malbec 2016</a></h3>
            <span class="price d-block">$216.00</span>

            <div class="rating">
              <span class="icon-star"></span>
              <span class="icon-star"></span>
              <span class="icon-star"></span>
              <span class="icon-star"></span>
              <span class="icon-star-o"></span>
            </div>

            <a href="cart.html" class="btn add"><span class="icon-shopping-bag mr-3"></span> Add to Cart</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="hero-2 pb-5" style="background-image: url({% static 'images/wine_collection_new_zealand.jpg' %});">
  <div class="container pb-5">
    <div class="row justify-content-center text-center align-items-center">
      <div class="col-md-8">
        <h2 class="d-block">New Zealand</h2>
      </div>
    </div>
    <div class="row">

      <div class="col-lg-4 mb-5 col-md-6">

        <div class="wine_v_1 text-center py-4">
          <a href="shop-single.html" class="thumbnail d-block mb-4"><img src="{% static 'images/wines/wines_newzealand_light.png' %}" alt="Image" class="img-fluid"></a>
          <div>
            <h2 class="heading mb-1"><a href="#">Felton Road Pinot Noir</a></h2>
            <h3 class="heading mb-1"><a href="#">2017</a></h3>
            <span class="price">$164.00</span>
          </div>
          <div class="wine-actions">

            <h3 class="heading-2"><a href="#">Felton Road Block 5 Pinot Noir 2017</a></h3>
            <span class="price d-block">$164.00</span>

            <div class="rating">
              <span class="icon-star"></span>
              <span class="icon-star"></span>
              <span class="icon-star"></span>
              <span class="icon-star"></span>
              <span class="icon-star-o"></span>
            </div>

            <a href="cart.html" class="btn add"><span class="icon-shopping-bag mr-3"></span> Add to Cart</a>
          </div>
        </div>

      </div>

      <div class="col-lg-4 mb-5 col-md-6">
        <div class="wine_v_1 text-center py-4">
          <a href="shop-single.html" class="thumbnail d-block mb-4"><img src="{% static 'images/wines/wines_newzealand_medium.png' %}" alt="Image" class="img-fluid"></a>
          <div>
            <h2 class="heading mb-1"><a href="#">Stonyridge Vineyard Larose</a></h2>
            <h3 class="heading mb-1"><a href="#">2015</a></h3>
            <span class="price">$176.00</span>
          </div>
          <div class="wine-actions">

            <h3 class="heading-2"><a href="#">Stonyridge Vineyard Larose, Waiheke Island 2015</a></h3>
            <span class="price d-block"><del>$293.00</del> $176.00</span>

            <div class="rating">
              <span class="icon-star"></span>
              <span class="icon-star"></span>
              <span class="icon-star"></span>
              <span class="icon-star"></span>
              <span class="icon-star-o"></span>
            </div>

            <a href="cart.html" class="btn add"><span class="icon-shopping-bag mr-3"></span> Add to Cart</a>
          </div>
        </div>
      </div>

      <div class="col-lg-4 mb-5 col-md-6">
        <div class="wine_v_1 text-center py-4">
          <a href="shop-single.html" class="thumbnail d-block mb-4"><img src="{% static 'images/wines/wines_newzealand_full.png' %}" alt="Image" class="img-fluid"></a>
          <div>
            <h2 class="heading mb-1"><a href="#">Craggy Range Le Sol Syrah</a></h2>
            <h3 class="heading mb-1"><a href="#">2014</a></h3>
            <span class="price">$173.00</span>
          </div>
          <div class="wine-actions">

            <h3 class="heading-2"><a href="#">Craggy Range Le Sol Syrah, Gimblett Gravels 2014</a></h3>
            <span class="price d-block">$173.00</span>

            <div class="rating">
              <span class="icon-star"></span>
              <span class="icon-star"></span>
              <span class="icon-star"></span>
              <span class="icon-star"></span>
              <span class="icon-star-o"></span>
            </div>

            <a href="cart.html" class="btn add"><span class="icon-shopping-bag mr-3"></span> Add to Cart</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="hero-2 pb-5" style="background-image: url({% static 'images/wine_collection_united_kingdom.jpg' %});">
  <div class="container pb-5">
    <div class="row justify-content-center text-center align-items-center">
      <div class="col-md-8">
        <h2 class="d-block">United Kingdom</h2>
      </div>
    </div>
    <div class="row">

      <div class="col-lg-4 mb-5 col-md-6">

        <div class="wine_v_1 text-center py-4">
          <a href="shop-single.html" class="thumbnail d-block mb-4"><img src="{% static 'images/wines/wines_uk_light.png' %}" alt="Image" class="img-fluid"></a>
          <div>
            <h2 class="heading mb-1"><a href="#">Denbies Zig Zag Red</a></h2>
            <h3 class="heading mb-1"><a href="#">2011</a></h3>
            <span class="price">$215.00</span>
          </div>
          <div class="wine-actions">

            <h3 class="heading-2"><a href="#">Denbies Zig Zag Red 2011</a></h3>
            <span class="price d-block">$215.00</span>

            <div class="rating">
              <span class="icon-star"></span>
              <span class="icon-star"></span>
              <span class="icon-star"></span>
              <span class="icon-star"></span>
              <span class="icon-star-o"></span>
            </div>

            <a href="cart.html" class="btn add"><span class="icon-shopping-bag mr-3"></span> Add to Cart</a>
          </div>
        </div>

      </div>

      <div class="col-lg-4 mb-5 col-md-6">
        <div class="wine_v_1 text-center py-4">
          <a href="shop-single.html" class="thumbnail d-block mb-4"><img src="{% static 'images/wines/wines_uk_medium.png' %}" alt="Image" class="img-fluid"></a>
          <div>
            <h2 class="heading mb-1"><a href="#">London Cru Gresham St</a></h2>
            <h3 class="heading mb-1"><a href="#">2015</a></h3>
            <span class="price">$214.00</span>
          </div>
          <div class="wine-actions">

            <h3 class="heading-2"><a href="#">London Cru Gresham St 2015</a></h3>
            <span class="price d-block">$214.00</span>

            <div class="rating">
              <span class="icon-star"></span>
              <span class="icon-star"></span>
              <span class="icon-star"></span>
              <span class="icon-star"></span>
              <span class="icon-star-o"></span>
            </div>

            <a href="cart.html" class="btn add"><span class="icon-shopping-bag mr-3"></span> Add to Cart</a>
          </div>
        </div>
      </div>

      <div class="col-lg-4 mb-5 col-md-6">
        <div class="wine_v_1 text-center py-4">
          <a href="shop-single.html" class="thumbnail d-block mb-4"><img src="{% static 'images/wines/wines_uk_full.png' %}" alt="Image" class="img-fluid"></a>
          <div>
            <h2 class="heading mb-1"><a href="#">Beenleigh Cabernet Sauvignon</a></h2>
            <h3 class="heading mb-1"><a href="#">2011</a></h3>
            <span class="price">$132.00</span>
          </div>
          <div class="wine-actions">

            <h3 class="heading-2"><a href="#">Beenleigh Reserve Cabernet Sauvignon Merlot N.V. 2011</a></h3>
            <span class="price d-block"><del>$287.00</del> $132.00</span>

            <div class="rating">
              <span class="icon-star"></span>
              <span class="icon-star"></span>
              <span class="icon-star"></span>
              <span class="icon-star"></span>
              <span class="icon-star-o"></span>
            </div>

            <a href="cart.html" class="btn add"><span class="icon-shopping-bag mr-3"></span> Add to Cart</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
