{% extends "layout.html" %} {% block cart_overview_section %}
<div class="site-section  pb-0">
  <div class="container">
    <div class="row mb-5 justify-content-center">
      <div class="col-7 section-title text-center mb-5">
        <h2 class="d-block">Cart</h2>
      </div>
    </div>
    <div class="row mb-5">
      <form class="col-md-12" method="post" action="edit/">
        <div class="site-blocks-table">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th class="product-thumbnail">Image</th>
                <th class="product-name">Product</th>
                <th class="product-price">Price</th>
                <th class="product-quantity">Quantity</th>
                <th class="product-total">Total</th>
                <th class="product-remove">Remove</th>
              </tr>
            </thead>
            <tbody>
              {% csrf_token %} {% for item in user_cart.cart_items %}
              <tr>
                <td class="product-thumbnail">
                  <img src="{{item.img_url}}" alt="Image" class="img-fluid">
                </td>
                <td class="product-name">
                  <h2 class="h5 cart-product-title text-black">{{item.product_name|title}}</h2>
                </td>
                <td>${{item.price}}</td>
                <td>
                  <input type="hidden" name="product-number" value="{{item.product_number}}">
                  <div class="input-group mb-3" style="max-width: 120px;">
                    <div class="input-group-prepend">
                      <button class="btn btn-outline-primary js-btn-minus" type="button">&minus;</button>
                    </div>
                    <input type="text" class="form-control text-center border mr-0" name="item-quantity" value="{{item.quantity}}" placeholder="" aria-label="Example text with button addon" aria-describedby="button-addon1">
                    <div class="input-group-append">
                      <button class="btn btn-outline-primary js-btn-plus" type="button">&plus;</button>
                    </div>
                  </div>

                </td>
                <td>${{item.total_price}}</td>
                <td><a href="{% url 'delete_from_cart' item.product_number %}" class="btn btn-primary height-auto btn-sm">X</a></td>
              </tr>
              {% endfor %}
              {% if user_cart.coupon_applied == 'no-coupon' %}
              <input type="hidden" class="coupon-applied-input" name="coupon-applied" value="no-coupon" readonly>
              {% else %}
              <input type="hidden" class="coupon-applied-input" name="coupon-applied" value="{{user_cart.coupon_applied}}" readonly>
              {% endif %}
              {% if user_cart.chargable_percentage == 1 %}
              <input type="hidden" class="chargable-percentage-input" name="chargable-percentage" value="1" readonly>
              {% else %}
              <input type="hidden" class="chargable-percentage-input" name="chargable-percentage" value="{{user_cart.chargable_percentage}}" readonly>
              {% endif %}
            </tbody>
          </table>
        </div>
      </form>
    </div>

  </div>
</div>
{% endblock %} {% block cart_action_section %}
<div class="site-section pt-5 bg-light">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="row mb-5">
          <div class="col-md-4 mb-3 mb-md-0">
            <button class="btn btn-primary btn-md btn-block btn-update">Update Cart</button>
          </div>
          <div class="col-md-4">
            <a href="{% url 'clear_cart' %}" class="btn btn-outline-primary btn-md btn-block">Clear Cart</a>
          </div>
          <div class="col-md-4">
            <a href="{% url 'shop' %}" class="btn btn-outline-primary btn-md btn-block">Continue Shopping</a>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <label class="text-black h4" for="coupon">Coupon</label>
            <p>Enter your coupon code if you have one.</p>
          </div>
          <div class="col-md-8 mb-3 mb-md-0">
            {% if user_cart.coupon_applied == 'no-coupon' %}
            <input type="text" class="form-control py-3" id="coupon" placeholder="Coupon Code">
            {% else %}
            <input type="text" class="form-control py-3" id="coupon" placeholder="{{user_cart.coupon_applied}}" readonly>
            {% endif %}
          </div>
          <div class="col-md-4">
            {% if user_cart.coupon_applied == 'no-coupon' %}
            <button class="btn btn-primary btn-md px-4 apply-coupon-btn">Apply Coupon</button>
            {% else %}
            <button class="btn btn-primary btn-md px-4 remove-coupon-btn">Remove Coupon</button>
            {% endif %}
          </div>
        </div>
      </div>
      <div class="col-md-6 pl-5">
        <div class="row justify-content-end">
          <div class="col-md-7">
            <div class="row">
              <div class="col-md-12 text-right border-bottom mb-5">
                <h3 class="text-black h4 text-uppercase">Cart Totals</h3>
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-md-6">
                <span class="text-black">Subtotal</span>
              </div>
              <div class="col-md-6 text-right">
                <strong class="text-black cart">$<span class="cart-subtotal">{{user_cart.cart_subtotal}}</span></strong>
              </div>
            </div>
            <div class="row mb-5">
              <div class="col-md-6">
                <span class="text-black">Total</span>
              </div>
              <div class="col-md-6 text-right">
                <strong class="text-black">$<span class="cart-total">{{user_cart.cart_total}}</span></strong>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <a class="btn btn-primary btn-lg btn-block" href="{% url 'checkout' %}">Proceed To
                      Checkout</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %} {% block js_scripts_section %}
<script type="text/javascript">
  $(function() {
    
    $(".btn-update").click(function() {
      $("form").submit();
    });
    
    $(".apply-coupon-btn").click(function(){
      console.log("Clicked")
      let coupon_code = $("#coupon").val();
      $.ajax({
        url: '{% url "coupon_check" %}',
        data: {
          'coupon_code': coupon_code
        },
        dataType: 'json',
        success: function (data) {
          if (data.discount) {
            let chargable_percentage = (1 - data.discount/100);
            $(".coupon-applied-input").val(coupon_code);
            $(".chargable-percentage-input").val(chargable_percentage);
            $("form").submit();
          }
        }
      });
    });
    
    $(".remove-coupon-btn").click(function(){
      $(".coupon-applied-input").val('no-coupon');
      $(".chargable-percentage-input").val(1);
      $("form").submit();
    });
    
  });
</script>
{% endblock %}
