{% extends "layout.html" %}
{% load crispy_forms_tags %}
{% block checkout_section %}
    <div class="site-section">
      <div class="container">
        <div class="row mb-5">
          <div class="col-md-12">
            <div class="bg-light rounded p-3">
              <p class="mb-0">Returning customer? <a href="#" class="d-inline-block">Click here</a> to login</p>
            </div>
          </div>
        </div>
        <form method="post">
            {% csrf_token %} {% crispy custom_detail_form %}
        </form>
      </div>
    </div>
{% endblock %}
