{% extends "layout.html" %} {% load static %} {% block main_content_section %}
<div class="site-section">
    <div class="container">
        <div class="row">
            <div class="col">
                <div id="notfound">
            		<div class="notfound">
            			<div class="notfound-404 text-primary">
            				<h1>404</h1>
            			</div>
            			<h2 class="my-3">Oops, The Page you are looking for can't be found!</h2>
            			<a href="{% url 'main_page' %}"><span class="arrow"></span>Return To Homepage</a>
            		</div>
            	</div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
